.tit {
	font-family: var(--font-nanum);
	color: #333;

	a {
		font-family: inherit;
		font-size: inherit;
		color: inherit;
	}

	&:hover {
		color: aquamarine;
	}

	&.tit-logo {
		font-family: var(--font-nanum);
		font-weight: 700;
		color: #fff;
		font-size: 22px;
	}
	&.tit-slogan {
		font-size: 10vw;
		color: orange;
	}
}
