.btn {
	display: inline-block;
	font: 12px/1 'arial';
	color: #bbb;
	border: 1px solid #666;
	background: transparent;
	padding: 5px 10px;
	cursor: pointer;
	transition: 0.5s;

	&:hover,
	&.on {
		color: var(--point);
		border: 1px solid var(--point);
	}
}
